<!DOCTYPE html>
<html ng-app="aptFinderApp">
<head>
    <title>Kvillebäcksparken</title>
    <link href="styles/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/apartment-finder.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container" data-ng-controller="apartmentController">
            <div class="row">
                <div class="col-md-12">
                    <h1>Kvillebäcksparken</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rum</th>
                                <th>Yta</th>
                                <th>Pris</th>
                                <th>Avgift</th>
                                <th>Status</th>
                                <th>PDF</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="{{a.id}}"
                                ng-mouseover="highlightApt(a)"
                                ng-mouseleave="highlightApt(a, true)"
                                ng-repeat="a in section.apartmentData">
                                <td>{{a.room}}</td>
                                <td>{{a.area}} m&sup2;</td>
                                <td>{{a.price}} kr</td>
                                <td>{{a.fee}} kr</td>
                                <td><div data-mg-status-label status="{{a.status}}"></div></td>
                                <td><a ng-href="{{a.pdf}}">Visa PDF</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-class="{active: section.direction == 'north'}" ng-click="setDirection('north')">Norr</button>
                        <button type="button" class="btn btn-default" ng-class="{active: section.direction == 'south'}" ng-click="setDirection('south')">Söder</button>
                    </div>
                    <canvas id="birdeye" width="570" height="354" ng-class="section.direction" ng-mousemove="mousemoveBirdeye($event)" ng-click="clickBirdeye($event)"></canvas>
                    <canvas id="canvas" width="570" height="344" ng-mousemove="mousemoveApt($event)" ng-class="section.id"></canvas>
                </div>
            </div>
            <div id="xPos"></div>
            <div id="yPos"></div>
        </div>
    </div>
    
    <!-- Vendor Scripts -->
    <script src="js/angular.min.js"></script>
    
    <!-- Bootstrapping -->
    <script src="app/app.js"></script>
    
    <!-- app Controllers -->
    <script src="app/controllers/apartmentController.js"></script>
    
    <!-- app Services -->
    <script src="app/services/apartmentFactory.js"></script>
    <script src="app/services/datacontext.js"></script>
    
    <!-- app Directives -->
    <script src="app/directives/mgStatusLabel.js"></script>

</body>
</html>