#birdeye {
    width: 570px;
    height: 354px;
    background: url(../img/birdeye-south.png);
 }

#canvas {
    width: 570px;
    height: 344px;
    margin-top: 45px;
    background: url(../img/south-inner-k2.png) no-repeat;
}

#tooltip {
    position: absolute;
    width: 50px;
    height: 100px;
    display: block;
    left: 0;
    right: 0;
}