#canvas {
    width: 644px;
    height: 379px;
    background: url(../img/apt1.png) no-repeat;
}

#tooltip {
    position: absolute;
    width: 50px;
    height: 100px;
    display: block;
    left: 0;
    right: 0;
}